/* Header */
.jumbotron {
    margin: 0;
}

.navbar-inner {
    margin-left: 10%;
    margin-right: 5%;
}

.header-heading--text {
	font-family: "Monotype Corsiva";
	font-size: 4em;
}

.header-logo--image {
	border-radius: 15px;
}

.input-group {
	border-radius: .25rem;
	overflow: hidden;
}

.input-group input,
.input-group button {
	border-radius: 0;
}

.nav-search {
	display: flex;
}

.navbar a {
	font-variant: small-caps;
	font-size: 1.4em;
}

.navbar .navbar-nav a {
	font-size: 1.2em;
}
/* END Header */

/* Aside Content */
.content-container {
	margin: 0 .6rem;
}

.card {
	margin-top: 30px;
}

.card .card-header {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #ffc107;
}

.card .card-body {
	background-color: #e9ecef;
}

.card .card-body ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.card .card-body ul li a {
	background-color: #f3f4f5;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #ffc107;
	transition: .5s;
	margin-top: 5px;
	color: #212529;
	font-size: 1.3em;
	border-radius: 5px;
	font-variant: small-caps;
	font-family: sans-serif;
}

.card .card-body ul li a:hover {
	border: 1px solid #212529;
	background-color: #ffc107;
	color: #fff;
	text-shadow: 2px 2px 5px #212529;
}

.card .card-body img {
	border-radius: 5px;
}

.card .card-body p {
	font-size: 1.2em;
}

.card .card-body .best-submitted {
	margin: 0;
	margin-top: 10px;
	color: #212529;
	text-align: center;
}

.card .card-body .form-login label {
	margin-top: 10px;
	margin-bottom: 0;
}

.card .card-body .form-login label:first-of-type {
	margin-top: 0;
}

.card .card-body .form-login a {
	margin-top: 10px;
}

.card .card-body .form-btn {
	margin-top: 20px;
}
/* END Aside Content */

/* Footer */
.footer-container {
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 1rem;
}

.footer-container p {
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 0;
	text-align: center;
}

.after-comma:after {
	content: ',';
}
/* END Footer */

/* Fixed Up Arrow */
.up-arrow {
	z-index: 9000;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #797979;
	box-shadow: 0px 0px 2px 0px #888;
	opacity: .96;
}

.up-arrow img {
	max-width: 100%;
	width: 40px;
	border-radius: 50%;
	opacity: .8;
}
/* END Fixed Up Arrow */

/* Lead Page Content */
.article--title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 2.6em;
	text-shadow: 2px 2px 5px #939393;
}

.article--head-image {
	max-width: 260px;
	width: 100%;
	padding-right: 20px;
	margin-top: 10px;
	float: left;
}

.card .card-body p.article--text {
	font-size: 1em;
	text-align: justify;
}
/* END Lead Page Content */

@media screen and (max-width: 1200px) {
	.after-comma:after {
		content: '';
	}
}

@media screen and (max-width: 992px) {
	.header-heading--text {
		font-size: 3em;
	}
}

@media screen and (max-width: 768px) {
	.navbar-nav .nav-item {
		margin-right: 15px;
	}

	.nav-search {
		display: none !important;
	}

	.article--title {
		font-size: 2em;
	}
}

@media screen and (max-width: 768px) and (min-width: 576px) {
	.footer-container p:nth-of-type(2) {
		margin-top: 0;
	}
}

@media screen and (max-width: 576px) {
	.header-heading {
		justify-content: center;
		margin-top: 30px; 
	}

	.header-heading--text {
		font-size: 2.6em;
	}

	.header-logo {
		justify-content: center;
	}

	.navbar-nav {
		border-top: 1px solid #fff;
		margin-top: 10px;
	}

	.article--head-image {
		padding: 0;
		float: none;
		margin-bottom: 20px;
	}
}