/* Header */
.jumbotron {
    margin: 0;
}

.header {
	background-color: #e9ecef;
	padding: 3rem 2rem;
}

.header-heading--text {
	font-family: "Monotype Corsiva";
	font-size: 4em;
}

.header-logo--image {
	border-radius: 15px;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 666;
}

.navbar-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 38px;
    margin: 0 5% 0 10%;
}

.navbar-inner > a,
.navbar-inner > ul {
	min-height: 24px;
}

.navbar-inner > ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 2px;
	padding-left: 10px;
}

.navbar-inner > ul li {
	padding-right: 5px;
}

.navbar-inner > ul li a {
	color: #74777c;
	transition: .2s;
}

.navbar-inner > ul li a:hover {
	color: #96999e;
}

.navbar-brand {
	font-size: 1.4em;
	color: #fff;
}

.nav-search {
	display: block;
	margin-left: auto;
}

.navbar a {
	font-variant: small-caps;
	font-size: 1.4em;
}

.navbar .navbar-nav a {
	font-size: 1.2em;
}
/* END Header */

/* Aside & Main Content */
.content-container {
	margin: 0 .6rem;
}

.content-container.row > aside,
.content-container.row > main {
	padding-left: 1rem;
	padding-right: 1rem;
}

.card {
	margin-top: 30px;
	border-radius: 10px;
	overflow: hidden;
}

.card .card-header {
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;
	color: #212529;
	background-color: #ffc107;
	padding: 15px;
}

.card .card-body {
	background-color: #e9ecef;
	padding: 10px 20px;
	font-family: Helvetika;
	color: #212529;
}

.card .card-body ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.card .card-body ul li a {
	background-color: #f3f4f5;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #ffc107;
	transition: .5s;
	margin-top: 5px;
	color: #212529;
	font-size: 1.3em;
	border-radius: 5px;
	font-variant: small-caps;
	font-family: sans-serif;
}

.card .card-body ul li a:hover {
	border: 1px solid #212529;
	background-color: #ffc107;
	color: #fff;
	text-shadow: 2px 2px 5px #212529;
}

.card .card-body img {
	border-radius: 5px;
}

.card .card-body p {
	font-size: 1.2em;
}

.card .card-body .best-submitted {
	margin: 0;
	margin-top: 10px;
	color: #212529;
	text-align: center;
}

.card .card-body .form-login label {
	display: block;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1em;
	font-weight: bold;
}

.card .card-body .form-login a {
	margin-top: 10px;
}

.card .card-body .form-btn {
	margin-top: 20px;
}

.site-map li {
	margin-top: 10px;
	display: flex;
	align-content: stretch;
}

.site-map li a {
	width: 100%;
	padding: 10px 5px;
	flex-grow: 1;
	font-family: sans-serif;
}
/* END Aside & Main Content */

/* Footer */
.footer-container {
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 1rem;
	flex-wrap: nowrap;
	margin-top: 30px;
}

.footer-container p {
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 0;
	text-align: center;
}

.after-comma {
	padding-right: 10px;
}

.after-comma:after {
	content: ',';
}
/* END Footer */

/* Fixed Up Arrow */
.up-arrow {
	z-index: 9000;
	position: fixed;
	display: flex;
	transition: .3s ease;
	justify-content: center;
	align-items: center;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #797979;
	box-shadow: 0 0 2px #888;
	opacity: .96;
}

.up-arrow:hover {
	background-color: #696969;
	box-shadow: 0 0 2px #999;
}

.up-arrow img {
	max-width: 100%;
	width: 40px;
	border-radius: 50%;
	opacity: .8;
}
/* END Fixed Up Arrow */

/* Inner Main Content */
.article {
	padding-bottom: 20px !important;
}

.article--title {
	text-align: center;
	margin: 20px 0 30px;
	font-size: 2.6em;
	text-shadow: 2px 2px 5px #939393;
}

.section--title {
	font-family: sans-serif;
}

.article--head-image {
	max-width: 260px;
	width: 100%;
	margin-top: 10px;
	float: left;
}

.article--head-image.f-left {
	float: left;
	padding-right: 20px;
}

.article--head-image.f-right {
	float: right;
	padding-left: 20px;
}

.card .card-body p.article--text {
	font-size: 1em;
	text-align: justify;
	font-family: sans-serif;
}

.card .card-body ul.article--list {
	list-style-type: disc;
	padding-left: 20px;
}

.article--list li {
	font-family: sans-serif;
	margin-top: 10px;
}

.section--title {
	font-size: 2em;
	font-weight: bold;
	padding: 5px 0 10px 0;
	font-family: serif;
}
/* END Inner Main Content */

/* Gallery */
.gallery--body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery--item {
	width: 33.3333%;
	box-sizing: border-box;
	padding: 0 .75rem;
	margin-top: 20px;
	display: flex;
	align-content: center;
}

.gallery--item img {
	width: 100%;
	box-shadow: 0 0 4px #000;
}
/* END Gallery*/

@media screen and (max-width: 1200px) {
	.after-comma:after {
		content: '';
	}

	.gallery--item {
		width: 50%;
	}
}

@media screen and (max-width: 992px) {
	.header-heading--text {
		font-size: 3em;
	}

	.gallery--item {
		width: 33.3333%;
	}

	.section--title,
	.img-fluid {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.navbar-nav .nav-item {
		margin-right: 5px;
	}

	.nav-search {
		display: none !important;
	}

	.article--title {
		font-size: 2em;
	}

	.article--head-image {
		max-width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.gallery--item {
		width: 50%;
	}

	.after-comma {
		padding-right: 0;
	}

	.footer-container {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 768px) and (min-width: 576px) {
	.footer-container p:nth-of-type(2) {
		margin-top: 0;
	}

	.navbar-inner {
	    margin: 0 5%;
	}
}

@media screen and (max-width: 576px) {
	.header-heading {
		justify-content: center;
		margin-top: 30px; 
	}

	.navbar-inner > ul {
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
	}

	.navbar-brand {
		display: block;
		width: 100%;
	}

	.header-heading--text {
		font-size: 2.4em;
		text-align: center;
	}

	.header-logo {
		justify-content: center;
	}

	.navbar-nav {
		border-top: 1px solid #fff;
		margin-top: 10px;
	}

	.article--head-image {
		padding: 0;
		float: none;
		margin-bottom: 20px;
	}

	.gallery--item {
		width: 100%;
	}

	.article--list li {
		margin-top: 15px;
	}
}